@import "variable.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html{
    font-size: 62.5%;
};
body{
    overflow: hidden;
};

// ======= Background =======
.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    img{
        width: 100%;
        height: 100%;
    };
};

// ======= Main =======
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    .text-container{
        // background-color: yellow;
        width: 40%;
        height: 100%;
        h1{
            font-size: 6rem;
            margin-bottom: 3rem;
            color: $secundary;
            font-family: $fontTitle;
        }
        h5{
            margin-top: 35%;
            margin-bottom: 3rem;
            font-size: 3rem;
            color: $secundary;
            font-family: $fontTitle;
        }
        p{
            font-size: 1.8rem;
            color: $secundary;
            font-family: $fontTitle;
        }
    };
    .register-login-container{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .form-container{
            position: relative;
            width: 35rem;
            background-color: $secundary;
            padding: 4rem;
            border-radius: 2rem;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(249, 249, 249, 0.564);
            label{
                font-size: 2rem;
                font-weight: bold;
                color: $dark;
                font-family: $fontTitle;
            };
            input{
                margin-top: 1rem;
                margin-bottom: 2rem;
                width: 100%;
                padding: 1rem 0;
                border-bottom: 1px solid $dark;
                border-top: none;
                border-left: none;
                border-right: none;
                outline: none;
                background-color: transparent;
            };
            .success{
                border-bottom: 1px solid $success;
            };
            .inputError{
                border-bottom: 1px solid $error;
            };
            .error{
                margin-bottom: 2rem;
                font-size: 1.6rem;
                display: none;
                border: 1px solid $error;
                padding: 1rem;
                p{
                    color: $error;
                };
            };
            .messageErrorOn{
                display: block;
            };
            .btn-submit{
                font-size: 2rem;
                font-weight: bold;
                padding: 1.5rem 3.5rem;
                width: 100%;
                border-radius: 3rem;
                margin-top: 2rem;
                background-color: $primary;
                border: none;
                color: $secundary;
                box-shadow: 0 0 10px #20171c37;
                cursor: pointer;
                font-family: $fontTitle;
                &:hover{
                    transform: scale(1.02);
                };
            };
        };
    };
};

// ======= Modal =======
.modalSuccessLogin{
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    .modal-container{
        background-color: white;
        border-radius: 1rem;
        width: 40rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .btn-closeModal{
            font-family: $fontTitle;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-size: 2.5rem;
            cursor: pointer;
            color: $primary;
            background-color: transparent;
            border: none;
        };
        h5{
            font-size: 2.5rem;
            color: $success;
        };
    };
};
.modalOn{
    display: flex;
};

// ========= Breakpoint =========

// ========= big Devices =========
@media (min-width: 1400px) {
    .main{
        .text-container{
            text-align: center;
        };
    };
};
@media (max-width: 1200px) {
    .main{
        padding: 0 5rem;
    };
};
@media (max-width: 920px) {
    .main{
        padding: 0 3rem;
        .text-container{
            flex-basis: 35rem;
        };
        .register-login-container{
            flex-basis: 35rem;
        };
    };
};
// ========= Medium Devices =========
@media (max-width: 790px) {
    .background{
        display: none;
    };
    body{
        background-image: url(/assets/images/wallpaper.png);
        background-size: cover;
        background-position: center;
        overflow: auto;
    };
    .main{
        height: auto;
        display: block;
        padding: 0 2rem;
        .text-container{
            height: auto;
            padding-bottom: 2rem;
            text-align: center;
            h5{
                margin-top: 5%;
            };
        };
        .register-login-container{
            padding: 2rem 0;
            height: 100%;
        };
    };
};
// ========= Small Devices =========
@media (max-width: 450px) {
    .main{
        height: auto;
        padding: 0 2rem;
        .text-container{
            h1{
                font-size: 4.5rem;
            };
            h5{
                font-size: 2rem;
            }
            p{

                font-size: 1.6rem;
            };
        };
        .register-login-container{
            .form-container{
                width: 100%;
            };
        };
    };
    .modalSuccessLogin{
        .modal-container{
            text-align: center;
            width: 95%;
        };
    };
};