@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// ======= Color =======
$primary: #f6a0d1;
$secundary: #ffffff;
$error: #ff0000;
$success: #06d106;

// ======= Font Style =======

$fontTitle: 'Poiret One', cursive;




