@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.background img {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main .text-container {
  width: 40%;
  height: 100%;
}
.main .text-container h1 {
  font-size: 9rem;
  margin-bottom: 3rem;
  color: #ffffff;
  font-family: "Poiret One", cursive;
}
.main .text-container h5 {
  margin-top: 20rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: #ffffff;
  font-family: "Poiret One", cursive;
}
.main .text-container p {
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Poiret One", cursive;
}
.main .register-login-container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .register-login-container .form-container {
  position: relative;
  width: 50rem;
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(249, 249, 249, 0.564);
}
.main .register-login-container .form-container label {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  font-family: "Poiret One", cursive;
}
.main .register-login-container .form-container input {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
}
.main .register-login-container .form-container .success {
  border-bottom: 1px solid #06d106;
}
.main .register-login-container .form-container .inputError {
  border-bottom: 1px solid #ff0000;
}
.main .register-login-container .form-container .error {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  display: none;
  border: 1px solid #ff0000;
  padding: 1rem;
}
.main .register-login-container .form-container .error p {
  color: #ff0000;
}
.main .register-login-container .form-container .messageErrorOn {
  display: block;
}
.main .register-login-container .form-container .btn-submit {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 3.5rem;
  width: 100%;
  border-radius: 3rem;
  margin-top: 2rem;
  background-color: #f6a0d1;
  border: none;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(32, 23, 28, 0.2156862745);
  cursor: pointer;
  font-family: "Poiret One", cursive;
}
.main .register-login-container .form-container .btn-submit:hover {
  transform: scale(1.02);
}

.modalSuccessLogin {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4196078431);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modalSuccessLogin .modal-container {
  background-color: white;
  border-radius: 1rem;
  width: 55rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modalSuccessLogin .modal-container .btn-closeModal {
  font-family: "Poiret One", cursive;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #f6a0d1;
  background-color: transparent;
  border: none;
}
.modalSuccessLogin .modal-container h5 {
  font-size: 3rem;
  color: #06d106;
}

.modalOn {
  display: flex;
}

@media (max-width: 1400px) {
  .main .text-container {
    text-align: center;
    width: 50%;
  }
  .main .text-container .text {
    width: 90%;
    margin: 0 auto;
  }
  .main .text-container h5 {
    margin-top: 13rem;
  }
  .main .text-container h1 {
    font-size: 7rem;
  }
  .main .register-login-container {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .main .text-container {
    width: 100%;
    text-align: center;
  }
  .main .text-container h1 {
    font-size: 7rem;
  }
  .main .text-container h5 {
    font-size: 3rem;
    margin-top: 25rem;
  }
  .main .text-container p {
    font-size: 2rem;
  }
  .main .register-login-container {
    width: 100%;
  }
  .main .register-login-container .form-container {
    width: 90%;
  }
}
@media (max-width: 790px) {
  body {
    background-image: url("/assets/images/wallpaper.png");
    background-size: 300%;
  }
  .background {
    display: none;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .text-container {
    width: 100%;
    height: auto;
  }
  .main .text-container .text {
    margin: 0 auto;
    text-align: center;
    width: 50rem;
  }
  .main .text-container h5 {
    margin-top: 10%;
  }
  .main .text-container p {
    display: none;
  }
  .main .register-login-container {
    width: 100%;
  }
  .main .register-login-container .form-container {
    width: 45rem;
  }
}
@media (max-width: 500px) {
  body {
    background-size: cover;
  }
  .main .text-container {
    height: 50%;
  }
  .main .text-container .text {
    width: 90%;
  }
  .main .text-container .text h1 {
    font-size: 6rem;
  }
  .main .register-login-container {
    height: 80%;
  }
  .main .register-login-container .form-container {
    width: 80%;
  }
  .modalSuccessLogin .modal-container {
    text-align: center;
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
